<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aardvark.Application" version="2.7.6" targetFramework="net452" />
  <package id="Aardvark.Application.WinForms" version="2.7.6" targetFramework="net452" />
  <package id="Aardvark.Application.WinForms.GL" version="2.7.6" targetFramework="net452" />
  <package id="Aardvark.Base" version="2.4.7" targetFramework="net452" />
  <package id="Aardvark.Base.Essentials" version="2.4.7" targetFramework="net452" />
  <package id="Aardvark.Base.FSharp" version="2.4.7" targetFramework="net452" />
  <package id="Aardvark.Base.Incremental" version="2.4.7" targetFramework="net452" />
  <package id="Aardvark.Base.Rendering" version="2.7.6" targetFramework="net452" />
  <package id="Aardvark.Base.Runtime" version="2.4.7" targetFramework="net452" />
  <package id="Aardvark.Rendering.GL" version="2.7.6" targetFramework="net452" />
  <package id="Aardvark.SceneGraph" version="2.7.6" targetFramework="net452" />
  <package id="DevILSharp" version="0.0.11" targetFramework="net452" />
  <package id="FShade.Core" version="2.3.5" targetFramework="net452" />
  <package id="FSharp.Quotations.Evaluator" version="1.0.6" targetFramework="net452" />
  <package id="JustMVVM" version="1.0.1" targetFramework="net452" />
  <package id="System.Collections.Immutable" version="1.2.0" targetFramework="net452" />
  <package id="System.Reactive.Core" version="3.0.0" targetFramework="net452" />
  <package id="System.Reactive.Interfaces" version="3.0.0" targetFramework="net452" />
  <package id="System.Reactive.Linq" version="3.0.0" targetFramework="net452" />
</packages>